.pwd-toggle-component {

    .pwd-toggle-content {
        display: flex;

        .pwd-switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .pwd-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .pwd-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;

            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            &.pwd-round {
                border-radius: 34px;

                &:before {
                    border-radius: 50%;
                }
            }
        }

        input:checked + .pwd-slider {
            background-color: #2196F3;
        }

        input:focus + .pwd-slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .pwd-slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .pwd-label {
            display: flex; 
            align-items: center; 
            justify-content: center; 
            flex-direction: column; 
            text-align: center;
        }
    }
}
